h1{
    text-align: center;
    font-family: Georgia, serif;

}

h2{
    text-align: center;
    font-family: Georgia, serif;

}

h3{
    text-align: center;
    font-family: Georgia, serif;

}

.paragraph {
    background-color:rgb(255, 255, 255);
    font-family: Georgia, serif;
    padding-top: 10px;
    padding-left:100px;
    padding-right: 100px;
}

.itemCard{
    text-align: center;
    background-color:rgb(186, 170, 202);
    font-family: Georgia, serif;
    padding-top: 15px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 15 px;
    margin: 15px;
    /* width: 300px; */


    display: inline-block;
}


.form{
    font-family: Georgia, serif;
    background-color:rgb(186, 170, 202);
    padding-top: 15px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 15px;

    text-align: center;
    
    
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
    

}

