h1{
    text-align: center;
    font-family: Georgia, serif;

}

h2{
    text-align: center;
    font-family: Georgia, serif;

}

.paragraph {
    background-color:rgb(162, 196, 226);
    font-family: Georgia, serif;
}