.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    margin:  6px 6px;
    background: rgba(162, 196, 226);
    text-decoration: none;
    text-align: center;
    font-family: Georgia, serif;
    font-size: min(10vw, 15px) ;
    color: rgb(21, 58, 128);

}
  
.active {
    color: rgb(157, 97, 199);
    text-decoration: underline;
}